/**
 * RESPONSIVE
 */
@media (min-width: 1200px)
{
    /* RED */
    body{ background: red !important;}
}

@media (min-width: 992px) and (max-width: 1199px)
{
    /* FOREST GREEN */
    body{ background: forestgreen !important;}
}

@media (min-width: 768px) and (max-width: 991px)
{
    /* YELLOW */
    body{ background: yellow !important;}
}

@media (max-width: 767px)
{
    /* BLUE */
    body{ background: blue !important;}
}

@media (max-width: 640px)
{
    /* BROWN */
    body{ background:brown !important;}
}

@media (max-width:568px)
{
    /* PURPLE */
    body{ background: purple !important;}
}

@media (max-width: 480px)
{
    /* GREEN */
    body{ background:green !important;}
}

@media (max-width: 460px)
{
    /* ORANGE */
    body{background:orange !important;}
}


/**
 * EMPTY CLASSES
 */

@media (min-width: 1200px)
{
    /* RED */
}

@media (min-width: 992px) and (max-width: 1199px)
{
    /* FOREST GREEN */
}

@media (min-width: 768px) and (max-width: 991px)
{
    /* YELLOW */
}

@media (max-width: 767px)
{
    /* BLUE */
}

@media (max-width: 640px)
{
    /* BROWN */
}

@media (max-width:568px)
{
    /* PURPLE */
}

@media (max-width: 480px)
{
    /* GREEN */
}

@media (max-width: 460px)
{
    /* ORANGE */
}


